#!/usr/bin/env bash
set -euo pipefail

# Install oh-my-zsh if not present
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  echo "Installing oh-my-zsh..."
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

# Install Powerlevel10k
P10K_DIR="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k"
if [ ! -d "$P10K_DIR" ]; then
  echo "Installing Powerlevel10k..."
  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git "$P10K_DIR"
fi

# Install Plugins
PLUGIN_DIR="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins"

PLUGINS=(
  zsh-autosuggestions   https://github.com/zsh-users/zsh-autosuggestions.git
  zsh-history-substring-search https://github.com/zsh-users/zsh-history-substring-search.git
  zsh-syntax-highlighting https://github.com/zsh-users/zsh-syntax-highlighting.git
)

# Loop over the PLUGINS array two items at a time
for ((i=0; i<${#PLUGINS[@]}; i+=2)); do
  plugin_dir=${PLUGINS[i]}
  plugin_repo=${PLUGINS[i+1]}
  dest="$PLUGIN_DIR/$plugin_dir"
  if [ ! -d "$dest" ]; then
    echo "Installing $plugin_dir..."
    git clone --depth=1 "$plugin_repo" "$dest"
  fi
done
